@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482800294821'); /* IE9*/
  src: url('iconfont.eot?t=1482800294821#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482800294821') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482800294821') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482800294821#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before { content: "\e62e"; }

.icon-github:before { content: "\e712"; }

.icon-menu:before { content: "\e602"; }

.icon-mail:before { content: "\e604"; }

.icon-weibo:before { content: "\e608"; }

