*{margin:0;padding:0;}
.article-content ol,.article-content ul{padding-left:30px;border-left:2px solid #3ac19f;}
ol li{list-style:decimal;}
ul li{list-style-type:square;}
pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:1.42857143;color:#333;word-break:break-all;word-wrap:break-word;background-color:#f5f5f5;border:1px solid #ccc;overflow:auto;font-family:"Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;}
.main{margin:0 auto;padding-top:40px;width:700px;}
@media screen and (max-width:767px){.main{padding:40px 20px 0 20px;width:auto;}
header .main .intro .intro-logo{width:100px;height:100px;}
header .main .intro .intro-sitename{font-size:32px;}
content .article{padding:10px 0;}
.article-content .readmore{margin-top:20px;margin-bottom:0;}
footer{font-size:14px;}
.visib-768{display:none;}
}
::selection{background:#262a30;color:#fff;}
a:hover{-webkit-animation:links .1s 3;}
div{display:block;}
.intro{padding:10px 0 10px 0;width:100%;text-align:center;transition:all .5s;-webkit-animation:nav-down .5s;animation:nav-down .5s;}
.intro:hover .intro-logo{transform:rotate(360deg);}
.intro:hover .social a{transform:rotate(360deg);}
.intro-logo{display:block;margin:0 auto;width:120px;height:120px;border-radius:50%;transition:all 1.8s;}
.intro-sitename{display:block;font-weight:400;font-size:35px;}
.intro-sitename a{color:#fff;}
.intro-siteinfo{display:block;color:#fff;font-size:16px;opacity:1;}
.social{display:block;text-align:center;}
@media screen and (max-width:767px){
body{position:relative;}
nav{position:absolute;top:15px;left:15px;}
nav .collapse{position:relative;display:block;width:40px;height:40px;text-align:center;cursor:pointer;-webkit-animation:nav-down .5s;animation:nav-down .5s;}
nav .collapse i{color:#fff;font-size:24px;}
nav ul{display:none;width:120px;background:#fff;-webkit-animation:show .3s;animation:show .3s;}
nav ul{margin:10px 0 0 20px;padding:0;text-align:center;}
nav ul li{float:none;width:100%;list-style:none;line-height:36px;cursor:pointer;}
nav ul li:hover{background:#262a30;color:#fff;}
nav ul li a{display:block;color:#3ac19f;}
nav ul li a:hover{color:#fff;}
}
@media screen and (min-width:768px){
nav .collapse{display:none;}
nav{padding-bottom:12px;text-align:center;transition:all .5s;-webkit-animation:nav-down .5s;animation:nav-down .5s;}
nav ul{display:inline-block;text-align:center;}
nav ul li{float:left;margin:0 auto;width:120px;list-style:none;}
nav ul li a{color:#fff;}
}
.social a{margin:0 10px;color:#fff;transition:all 1.5s;}
.social a i{font-size:24px;}
.article{padding:10px 0;-webkit-animation:article-up .8s;animation:article-up .8s;}
.article-title{text-align:center;font-weight:700;font-size:26px;}
.article-content{margin-top:20px;}
.article-content img{clear:both;display:block;margin:20px auto;max-width:100%;max-height:420px;}
.readmore{margin:50px 0 60px 0;text-align:center;}
.post-tags{margin-top:16px;text-align:center;}
.post-tags .tag{margin:0 10px;}
.pagination,.post-nav{margin-top:50px;border-top:1px solid #eee;text-align:center;}
.pagination a,.pagination span{position:relative;display:inline-block;margin:0 10px;padding:0 10px;line-height:30px;}
.pagination span{background:#eee;}
.pagination a:hover{margin-top:-1px;border-top:1px solid #555;}
.post-nav .prev{float:left;list-style:none;}
.post-nav .next{float:right;list-style:none;}
.post-nav .next:hover,.post-nav .prev:hover{margin-top:-1px;border-top:1px solid #555;}
@media (max-width:767px){.pagination a,.pagination span{margin:0 5px;}
.post-nav .next,.post-nav .prev{float:none;}
.post-nav .next:hover,.post-nav .prev:hover{margin-top:0;border:none;}
}
@-webkit-keyframes links{0%{-webkit-transform:rotate(-2deg);}
100%{-webkit-transform:rotate(2deg);}
}
@-webkit-keyframes nav-down{0%{opacity:0;transform:scale(1) translateY(-10em);}
100%{opacity:1;transform:scale(1) translateY(0);}
}
@-webkit-keyframes article-up{0%{opacity:0;transform:scale(1) translateY(10em);}
100%{opacity:1;transform:scale(1) translateY(0);}
}
@-webkit-keyframes show{0%{opacity:0;transform:scale(0);}
70%{transform:scale(1.1);}
100%{opacity:1;transform:scale(1);}
}
@-webkit-keyframes totop{0%{opacity:0;transform:translateX(10em);}
100%{opacity:1;transform:translateX(0);}
}
.page-navigator .current a{color:#444;background:#EEE;}#comments{padding-top:15px;}
.page-navigator a:hover{background:#EEE;text-decoration:none;}
.page-navigator a{display:inline-block;padding:0 10px;height:30px;line-height:30px;}
.page-navigator li{display:inline-block;margin:0 4px;}
.page-navigator{list-style:none;margin:25px 0;padding:0;text-align:center;}
p {
    padding: 0.3em;
}
